body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #f58d2d; /* Um azul Django */
}

ul {
    background-color: #f3b8e4;
    border: 1px solid #f8eaf7;
    padding: 15px;
}

li {
    list-style-type: square;
}